{% extends 'store/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    
    <form method="get" class="row mt-4">
        <div class="col-md-4">
            <label for="category" class="form-label">Категория</label>
            <select name="category" id="category" class="form-select">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
        </div> 
    
        <div class="col-md-4">
            <label for="price" class="form-label">Максимальная цена</label>
            <input type="number" name="price" id="price" class="form-control" placeholder="Введите максимальную цену"
                   value="{{ request.GET.price }}">
        </div>
    
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Фильтровать</button>
        </div>
    </form>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}    
    
        <h1>Список товаров</h1>
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item">
                    <a href="{% url 'product_detail' product.id %}"> <h5>{{ product.name }}</h5> </a>
                    <h5>Товар: {{ product.name }}</h5>
                    <p>{{ product.description }}</p>
                    <p>Цена: {{ product.price }}</p>
                    <p>Дата поставки: {{ product.created_at }}</p>
                    <p>Категория: {{ product.category }}</p>
                    <a href="{% url 'edit_product' product.id %}" class="btn btn-primary">Редактировать</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-primary">Удалить</a>
                </li>
            {% empty %}
                <li class="list-group-item">Нет товаров</li>
            {% endfor %}
        </ul>
    
    
 <!-- Навигация пагинации -->
    {% if is_paginated %}
        <nav aria-label="Навигация по страницам">
            <ul class="pagination justify-content-center mt-4">
                <!-- Кнопка "Назад" -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Назад">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                {% endif %}

                <!-- Номера страниц -->
                {% for num in paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="page-item active">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% elif num > page_obj.number|add:'-4' and num < page_obj.number|add:'4' %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Кнопка "Вперёд" -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Вперёд">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
    
{% endblock %}